@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff?r6tb7a") format("woff"), url("../fonts/icons.svg?r6tb7a#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@media (any-hover: hover) {
  .card:hover ~ * > .card__image {
    scale: 1.2;
  }

  .card:hover .card__details:before {
    background-color: #286562;
  }

  .card:hover ~ * > .card__image {
    scale: 1.2;
  }

  .card__site:hover:after {
    border-bottom: 1px solid #FFF;
  }

  .header__tel:hover:after {
    border-bottom: 1px solid #FFF;
  }

  .menu__link:hover:after {
    border-bottom: 1px solid #FFF;
  }

  ._fixed ul a:hover:after {
    border-bottom: 1px solid #1B1F2B;
  }

  ._fixed .header__tel:hover:after {
    border-bottom: 1px solid #1B1F2B;
  }

  .main-block__button:hover {
    color: #FFF;
    background-color: #EFA501;
  }

  .menu-block__item:hover:after {
    background-color: #1B1F2B;
  }

  ._active:hover:after {
    background-color: #EFA501;
  }

  .form-create__input:hover {
    background-color: #F4F0E9;
  }

  .form-create__btn:hover {
    background-color: #3B7E7B;
  }

  .form-create__btn_clear:hover {
    background-color: #F1F3F2;
  }

  .agreement__link:hover:after {
    border-bottom: 1px solid #1B1F2B;
  }

  .bottom__mail:hover:after {
    border-bottom: 1px solid #1B1F2B;
  }

  .socials-footer a:hover span:after {
    border-bottom: 1px solid #1B1F2B;
  }
}

.webp .main-block { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(40%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/background.webp) lightgray 50%/cover no-repeat; background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 40%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/background.webp) lightgray 50%/cover no-repeat; }

.webp .review__photo_1 { background: url(../img/reviews/review_1.webp) lightgray -21px 0px/150% 100% no-repeat; background-size: cover; background-position: center; }

.webp .review__photo_2 { background: url(../img/reviews/review_2.webp) lightgray 0px -4.5px/100% 150% no-repeat; background-size: cover; background-position: center; }

[class^=_icon-]::before,
[class*=" _icon-"]::before,
[class^=_icon-]::after,
[class*=" _icon-"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-vk:before {
  content: "\e900";
  margin-right: 10px;
  color: #a6a6a6;
  font-size: 26px;
}

._icon-inst:before {
  content: "\e901";
  margin-right: 10px;
  color: #a6a6a6;
  font-size: 26px;
}

._icon-fb:before {
  content: "\e902";
  margin-right: 10px;
  color: #a6a6a6;
  font-size: 26px;
}

._icon-arrow:after {
  content: "\e903";
  margin-left: 16px;
  color: #fff;
  font-size: 16px;
}

._icon-dropdown:after {
  content: "\e904";
  position: absolute;
  top: 57px;
  right: 4%;
  font-size: 25px;
  color: #1b1f2b;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  background: #F9F7F4;
}

._container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header-block {
  margin: 0px 0px 100px;
}

.header-block__title {
  margin-bottom: 30px;
  font-size: 59px;
  font-weight: 700;
  line-height: 124%;
  text-align: center;
  color: #1B1F2B;
}

.header-block__text {
  margin: 0 380px;
  text-align: center;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

.card {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  border-radius: 50px;
  cursor: pointer;
}

.card:active .card__details:before {
  content: "";
  position: absolute;
  left: -20px;
  z-index: -1;
  width: 199px;
  height: 42px;
  background-color: #EFA501;
  border-radius: 50px;
}

.card__main {
  padding-bottom: 20px;
}

.card__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  color: #FFF;
}

.card__price {
  margin-top: 16px;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.1px;
  color: #FFF;
}

.card__text {
  max-width: 554px;
  margin-top: 36px;
  font-size: 20px;
  line-height: 142%;
  color: #FFF;
}

.card__list {
  margin-top: 25px;
  margin-left: 30px;
}

.card__item {
  list-style: disc;
}

.card__details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 199px;
  font-size: 23px;
  line-height: 122%;
  font-weight: 700;
  color: #FFF;
  border-radius: 50px;
}

.card__details:before {
  content: "";
  position: absolute;
  left: -20px;
  z-index: -1;
  width: 199px;
  height: 42px;
  background-color: transparent;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__social {
  position: absolute;
  top: 478px;
  right: 60px;
  z-index: 2;
  gap: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__site {
  position: relative;
  font-size: 20px;
  line-height: 142%;
  color: #FFF;
}

.card__site:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__site:active {
  color: #EFA501;
}

.card__site:active:after {
  border-bottom: 1px solid #EFA501;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -webkit-transition: scale 0.3s ease 0s;
  transition: scale 0.3s ease 0s;
}

.header {
  position: absolute;
  top: 0;
  left: 2px;
  z-index: 50;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 88px;
}

.header__logoDarkImg {
  display: none;
}

.header__tel {
  position: relative;
  color: #FFF;
  font-size: 20px;
  line-height: 142%;
  margin-right: 4px;
}

.header__tel:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin: 0px 50px 0px 0px;
}

.menu__link {
  position: relative;
  color: #FFF;
  font-size: 20px;
  line-height: 142%;
}

.menu__link:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._fixed {
  position: fixed;
  left: 0;
  top: -100px;
  -webkit-backdrop-filter: blur(27px);
          backdrop-filter: blur(27px);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

._fixed a {
  color: #1B1F2B;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page > * {
  margin-bottom: 135px;
}

.no-webp .main-block {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), color-stop(40%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/background.jpg) lightgray 50%/cover no-repeat;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 40%), linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/background.jpg) lightgray 50%/cover no-repeat; }

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 720px;
  height: 100vh;
  padding: 207px 0px 119px;
}

.main-block__title {
  margin: 0px auto 50px;
  font-size: 96px;
  font-weight: 700;
  line-height: 109%;
  letter-spacing: 1.9px;
  text-align: center;
  color: #FFF;
}

.main-block__text {
  margin: 0px 304px 50px;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #FFF;
}

.main-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 118px;
  min-height: 34px;
  margin: 0px auto;
  padding: 5px 20px;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.2px;
  text-align: center;
  color: #1B1F2B;
  background-color: #FFF;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-block__button:active {
  color: #1B1F2B;
  background-color: #F8E6BE;
}

.choose__header {
  margin-bottom: 103px;
}

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 235px 0px;
  gap: 30px;
}

.menu-block__item {
  position: relative;
  padding: 4px 0px;
  font-size: 23px;
  font-weight: 700;
  line-height: 122%;
  color: #1B1F2B;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-block__item:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._active {
  color: #EFA501;
}

._active:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EFA501;
}

.body-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.body-choose__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.6%;
          flex: 0 1 31.6%;
  overflow: hidden;
  border-radius: 50px;
}

.body-choose__card {
  min-height: 531px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), color-stop(48.4%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 48.4%, rgba(0, 0, 0, 0.5) 100%);
}

.form-create {
  background-color: #FFF;
  border-radius: 50px;
}

.form-create__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px;
  gap: 32px 33px;
}

.form-create__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 100%;
}

.form-create__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.3%;
          flex: 0 1 48.3%;
}

.form-create__item:nth-last-child(-n+4) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.form-create__label {
  position: relative;
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
}

.form-create__input {
  width: 100%;
  height: 68px;
  padding: 20px;
  font-family: Roboto;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  background-color: #F9F7F4;
  outline: 1px solid #F4F0E9;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-create__input:focus {
  background-color: #F4F0E9;
  outline: 1px solid #A6A6A6;
}

.form-create__input::-webkit-input-placeholder {
  color: #A6A6A6;
}

.form-create__input::-moz-placeholder {
  color: #A6A6A6;
}

.form-create__input:-ms-input-placeholder {
  color: #A6A6A6;
}

.form-create__input::-ms-input-placeholder {
  color: #A6A6A6;
}

.form-create__input::placeholder {
  color: #A6A6A6;
}

.form-create__input[name=dest] {
  cursor: pointer;
  color: #1B1F2B;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-create__input[type=date] {
  position: relative;
  min-width: 100%;
  letter-spacing: -0.7px;
  text-transform: uppercase;
  color: #A6A6A6;
  cursor: text;
}

.form-create__input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: none;
  cursor: pointer;
}

.form-create__input[name=coment] {
  min-width: 100%;
  min-height: 152px;
  -webkit-transition: background-color 0.3s ease 0s, outline 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, outline 0.3s ease 0s;
  resize: vertical;
}

.form-create__dest-placeholder {
  position: absolute;
  top: 56px;
  left: 16px;
  padding: 4px;
  font-size: 20px;
  text-align: center;
  color: #A6A6A6;
  background-color: transparent;
  pointer-events: none;
}

.form-create__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-create__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 71px;
  font-size: 20px;
  line-height: 142%;
  color: #FFF;
  background-color: #286562;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-create__btn:active {
  background-color: #627F7E;
}

.form-create__btn:not(:last-child) {
  margin-right: 30px;
}

.form-create__btn_clear {
  color: #286562;
  background-color: #E0F0E5;
}

.form-create__btn_clear:active {
  background-color: #D9DFDB;
}

#form-create-dest:valid + .form-create__dest-placeholder {
  display: none;
}

#form-create-date-from:valid + .form-create__date-placeholder {
  display: none;
}

.adulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adulty__input {
  position: absolute;
  z-index: -1;
  width: 26px;
  height: 26px;
  margin-right: 11px;
  opacity: 0;
  cursor: pointer;
}

.adulty__input:checked + label:after {
  content: "";
  position: absolute;
  left: 11.5%;
  width: 0.6em;
  height: 0.6em;
  border: 2px solid #1B1F2B;
  border-radius: 50%;
  background-color: #1B1F2B;
}

.adulty__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 63px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.adulty__label:not(:last-child) {
  margin-right: 31px;
}

.adulty__label:before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.5em;
  border: 2px solid #1B1F2B;
  border-radius: 50%;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.agreement__input {
  position: absolute;
  z-index: -1;
  width: 26px;
  height: 26px;
  margin-right: 19px;
  opacity: 0;
}

.agreement__input:checked + .agreement__mark {
  position: absolute;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.agreement__input:checked + .agreement__mark:before {
  content: "";
  position: absolute;
  right: 20%;
  bottom: 48%;
  width: 12px;
  height: 2px;
  border-radius: 40px;
  background: #1B1F2B;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.agreement__input:checked + .agreement__mark:after {
  content: "";
  position: absolute;
  top: 52%;
  left: 24%;
  width: 6px;
  height: 2px;
  border-radius: 40px;
  background: #1B1F2B;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.agreement__label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.1px;
  color: #A6A6A6;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.agreement__label:before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: 1.1em;
  border: 2px solid #1B1F2B;
  border-radius: 0.35em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
}

.agreement__link {
  position: relative;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.2px;
  color: #1B1F2B;
}

.agreement__link:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.agreement__link:active {
  color: #286562;
}

.agreement__link:active:after {
  border-bottom: 1px solid #286562;
}

.reviews__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.review {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.7%;
          flex: 0 1 48.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px;
  background-color: #F4F0E9;
  border-radius: 50px;
}

.review__text {
  margin-bottom: 70px;
  font-size: 23px;
  line-height: 122%;
  font-weight: 700;
}

.review__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review__name {
  margin-bottom: 8px;
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
}

.review__tour {
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.2px;
  color: #A6A6A6;
}

.review__photo {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

.no-webp .review__photo_1 {
  background: url(../img/reviews/review_1.jpg) lightgray -21px 0px/150% 100% no-repeat; }

.review__photo_1 {
  background-size: cover;
  background-position: center;
}

.no-webp .review__photo_2 {
  background: url(../img/reviews/review_2.jpg) lightgray 0px -4.5px/100% 150% no-repeat; }

.review__photo_2 {
  background-size: cover;
  background-position: center;
}

.gallery__body {
  padding: 0px 30px;
}

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

.gallery__row:not(:last-child) {
  margin-bottom: 29px;
}

.gallery__row_odd div {
  width: 442.5px;
}

.gallery__row_even div {
  width: 348px;
}

.gallery__item {
  height: 301px;
  border-radius: 50px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.body-histories__item {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50px;
  overflow: hidden;
}

.body-histories__card {
  min-height: 567px;
  padding: 60px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.bottom__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.bottom__img {
  position: relative;
  width: 370px;
  height: 370px;
  border-radius: 50px;
}

.bottom__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom__main {
  max-width: 371px;
}

.bottom__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 122%;
  color: #1B1F2B;
}

.bottom__title:not(:last-child) {
  margin-bottom: 20px;
}

.bottom__text {
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

.bottom__mail {
  position: relative;
  color: #1B1F2B;
}

.bottom__mail:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.bottom__mail:active {
  color: #286562;
}

.bottom__mail:active:after {
  border-bottom: 1px solid #286562;
}

.footer {
  background-color: #F4F0E9;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 88px;
}

.footer__label {
  margin-right: 527px;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

.socials-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-footer a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
}

.socials-footer a span:after {
  content: "";
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.socials-footer a:not(:last-child) {
  margin-right: 25px;
}

@media (min-width: 1280px) {
  .card__title {
    margin-right: 50px;
  }
}

@media (max-width: 1280px) {
  ._icon-dropdown:after {
    top: 57px;
    right: 5%;
  }

  ._container {
    width: 100%;
    padding: 0px 5%;
  }

  .header-block__text {
    margin: 0 254px;
  }

  .card__list {
    margin-top: 26px;
  }

  .header {
    left: 5px;
  }

  .header__tel {
    margin-right: 11px;
  }

  .menu__item:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }

  .main-block__text {
    margin: 0px 238px 50px;
  }

  .menu-block {
    margin: 30px 109px 0px;
  }

  .body-choose__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 31.1%;
            flex: 0 1 31.1%;
  }

  .body-choose__card {
    padding: 50px 35px 50px;
  }

  .form-create__body {
    padding: 59px 60px;
    gap: 32px 20px;
  }

  .form-create__row {
    gap: 20px;
  }

  .form-create__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.7%;
            flex: 0 1 48.7%;
  }

  .agreement__input {
    margin-right: 11px;
  }

  .agreement__label:before {
    margin-right: 0.7em;
  }

  .reviews__body {
    gap: 18px;
  }

  .review {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.9%;
            flex: 0 1 48.9%;
  }

  .gallery__body {
    padding: 0px 20px;
  }

  .gallery__row {
    gap: 18px;
  }

  .footer__label {
    margin-right: 277px;
  }
}

@media (max-width: 1024px) {
  .body-choose {
    gap: 18px;
  }

  .body-choose__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.9%;
            flex: 0 1 48.9%;
  }

  .body-choose__card {
    padding: 50px;
  }

  ._1024none {
    display: none;
  }
}

@media (max-width: 992px) {
  .header-block__text {
    margin: 0 110px;
  }

  .header {
    left: 0;
  }

  .header__tel {
    font-size: 18px;
  }

  .menu__link {
    font-size: 18px;
  }

  .main-block {
    min-height: 624px;
    padding: 150px 0px 100px;
  }

  .main-block__title {
    font-size: 76px;
  }

  .menu-block {
    gap: 20px;
  }

  .body-choose__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }

  .form-create__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48.3%;
            flex: 0 1 48.3%;
  }

  .bottom__img {
    width: 30vw;
    height: 30vw;
  }

  .footer__label {
    margin-right: 18%;
  }
}

@media (max-width: 928px) {
  .review {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }
}

@media (max-width: 892px) {
  .header__logoImg,
  .header__logoDarkImg {
    width: 133px;
  }
}

@media (max-width: 813px) {
  .footer__container {
    min-height: 95px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__label {
    margin: 0px 0px 5px 0px;
  }
}

@media (max-width: 812px) {
  .main-block__text {
    margin: 0px 200px 50px;
  }
}

@media (max-width: 768px) {
  ._icon-dropdown:after {
    top: 39px;
    right: 4%;
  }
}

@media (max-width: 767px) {
  ._container {
    padding: 0px 6%;
  }

  .header-block {
    margin: 0px 0px 50px;
  }

  .header-block__title {
    font-size: 48px;
  }

  .header-block__text {
    margin: 0;
    font-size: 16px;
  }

  .card {
    padding: 25px;
    border-radius: 20px;
  }

  .card__text {
    font-size: 16px;
  }

  .card__list {
    margin-left: 26px;
  }

  .card__social {
    gap: 23px;
  }

  .card__site {
    font-size: 16px;
  }

  .card__image {
    border-radius: 20px;
  }

  .header__logoImg,
  .header__logoDarkImg {
    width: 100%;
  }

  .header__tel {
    margin-right: 0;
    font-size: 20px;
  }

  .menu {
    display: none;
  }

  .menu__link {
    font-size: 16px;
  }

  .page > * {
    margin-bottom: 75px;
  }

  .main-block {
    min-height: 580px;
    margin-bottom: 77px;
    padding: 142px 0px 52px;
  }

  .main-block__title {
    font-size: 48px;
  }

  .main-block__text {
    font-size: 18px;
    margin: 0px 200px 50px;
  }

  .choose__header {
    margin-bottom: 50px;
  }

  .menu-block {
    margin: 29px 30px 0px;
    gap: 10px;
  }

  .menu-block__item {
    font-size: 20px;
  }

  .body-choose__item {
    min-width: 100%;
    border-radius: 20px;
  }

  .form-create {
    border-radius: 30px;
  }

  .form-create__body {
    padding: 21px 20px 20px;
    gap: 29.7px;
  }

  .form-create__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 29.7px;
  }

  .form-create__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .form-create__label {
    font-size: 16px;
  }

  .form-create__input {
    height: 44px;
    padding: 10px;
    font-size: 16px;
  }

  .form-create__input[type=date] {
    font-size: 15px;
    letter-spacing: 0.1px;
  }

  .form-create__input[name=coment] {
    min-height: 132px;
  }

  .form-create__dest-placeholder {
    top: 41px;
    left: 6px;
    font-size: 16px;
  }

  .form-create__btn {
    padding: 13px 30px;
    font-size: 16px;
  }

  .form-create__btn:not(:last-child) {
    margin-right: 20px;
  }

  .adulty {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .adulty__input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .adulty__label {
    width: 50px;
  }

  .agreement {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .agreement__input {
    margin-right: 10px;
    width: 1.5em;
    height: 1.5em;
  }

  .agreement__input:checked + .agreement__mark:before {
    right: 23%;
    bottom: 48%;
  }

  .agreement__input:checked + .agreement__mark:after {
    top: 52%;
    left: 23%;
  }

  .agreement__label {
    display: inline;
    font-size: 16px;
    letter-spacing: normal;
  }

  .agreement__label:before {
    float: left;
  }

  .agreement__link {
    font-size: 16px;
    letter-spacing: normal;
  }

  .review {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    border-radius: 20px;
  }

  .gallery__item {
    height: 180px;
    border-radius: 30px;
  }

  .gallery__img {
    border-radius: 30px;
  }

  ._360none {
    display: none;
  }

  .body-histories__item {
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .body-histories__card {
    min-height: 455px;
    padding: 45px;
  }

  .bottom__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottom__img {
    width: 230px;
    height: 233px;
    border-radius: 20px;
  }

  .bottom__img img {
    border-radius: 20px;
  }

  .bottom__main {
    max-width: 291px;
  }

  .bottom__title {
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.9px;
    text-align: center;
  }

  .bottom__text {
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 627px) {
  .card__social {
    display: none;
  }
}

@media (max-width: 625px) {
  .main-block__text {
    font-size: 16px;
    margin: 0px 120px 50px;
  }
}

@media (max-width: 480px) {
  ._icon-vk:before {
    margin-right: 0px;
  }

  ._icon-inst:before {
    margin-right: 0px;
  }

  ._icon-fb:before {
    margin-right: 0px;
  }

  .header-block {
    margin: 0px 0px 40px;
  }

  .header-block__title {
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
  }

  .header-block__text {
    margin: 0;
    font-size: 16px;
  }

  .card__title {
    margin-bottom: 13px;
    font-size: 23px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.9px;
  }

  .card__price {
    margin-top: 13px;
    font-size: 16px;
  }

  .card__text {
    margin-top: 20px;
  }

  .card__details {
    font-size: 16px;
    line-height: 142%;
  }

  .header__logoImg,
  .header__logoDarkImg {
    width: 133px;
  }

  .header__tel {
    font-size: 16px;
  }

  .main-block {
    min-height: 487px;
  }

  .main-block__title {
    margin: 0px auto 40px;
    font-size: 34px;
    line-height: 112%;
    letter-spacing: 0.7px;
  }

  .main-block__text {
    margin: 0px 35px 40px;
  }

  .main-block__button {
    max-width: 114px;
    min-height: 33px;
    font-size: 16px;
    letter-spacing: -0.2px;
  }

  .menu-block__item {
    padding: 0px 0px;
    font-size: 16px;
    line-height: 142%;
  }

  .body-choose__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .body-choose__card {
    min-height: 318px;
    padding: 25px;
  }

  .form-create__body {
    padding-bottom: 40px;
  }

  .form-create__btn:not(:last-child) {
    margin-right: 10px;
  }

  .agreement__input:checked + .agreement__mark:before {
    right: 33%;
    bottom: 52%;
    width: 10px;
  }

  .agreement__input:checked + .agreement__mark:after {
    top: 45%;
    left: 20%;
    width: 5px;
  }

  .agreement__label:before {
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.7em;
    margin-bottom: 2.3em;
  }

  .reviews .reviews__header {
    margin-bottom: 50px;
  }

  .review {
    padding: 20px;
  }

  .review__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 144%;
  }

  .review__bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }

  .review__name {
    font-size: 23px;
    line-height: 120%;
    letter-spacing: 0.9px;
  }

  .review__tour {
    font-size: 16px;
    line-height: 142%;
  }

  .gallery__header {
    margin: 0px 0px 47px;
  }

  .gallery__row {
    gap: 10px;
  }

  .gallery__row:not(:last-child) {
    margin-bottom: 18px;
  }

  .gallery__row_odd div {
    width: 90%;
  }

  .gallery__item {
    height: 110px;
    border-radius: 20px;
  }

  .gallery__img {
    border-radius: 20px;
  }

  .body-histories {
    margin-top: 52px;
  }

  .body-histories__card {
    padding: 30px;
  }

  .bottom__img {
    width: 130px;
    height: 133px;
    border-radius: 20px;
  }

  .footer__label {
    font-size: 16px;
  }

  .socials-footer a {
    font-size: 16px;
  }

  .socials-footer a:not(:last-child) {
    margin-right: 15px;
  }
}

@media (max-width: 358px) {
  .form-create__btn {
    padding: 13px 21px;
  }
}

@media (max-width: 349px) {
  .header-block__title {
    font-size: 30px;
  }
}

@media (max-width: 338px) {
  .agreement__label:before {
    margin-bottom: 3.5em;
  }
}